@use 'helpers' as *;
@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

.calculator {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #6215d7;
	border-radius: rem(10);
	padding: rem(10);
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	
	&__error {
		font-size: rem(14);
		color: red;
		font-weight: bold;
		height: rem(20);
	}
	
	&__display {
		border: 1px solid #6215d7;
		border-radius: rem(10);
		padding: rem(8);
		width: 100%;
		text-align: right;
		box-shadow: rgba(50, 50, 93, 0.25) 15px 15px 10px -12px inset,
								rgba(0, 0, 0, 0.3) 0px 17px 30px -18px inset;
		margin-bottom: rem(20);
	}
	
	&__text {
		min-height: rem(30);
		font-size: rem(20);
		
		&.result {
			color: #8b53e0;
			text-decoration: underline;
		}
	}
	
	&__buttons {
		display: grid;
		gap: rem(10);
		grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
		
		& .button {
			background: transparent;
			border: 1px solid #6215d7;
			border-radius: rem(5);
			padding: rem(10) rem(15);
			color: #e0e0e0;
		}
	}
}
